:root {
    /* Font family         */
    
    --main-font: 'Inter', sans-serif;
    --logo-font: 'Belgrano', sans;
    /* Text color variable */
    --text-color-accent: #1fd6dc;
    --text-color-standart: #0F0F0F;
    --text-color-pureblack: #000000;
    --text-color-white: #ffffff;

    --text-color-address-link: rgba(255, 255, 255, 0.6);
  
    /* button color variable */
  
    /* <-------button-hero-----------> */
    --color-accent: #22FFCA;
    --active-color-accent: #188ce8;

  
    /* background color variable */
    --color-backgr-gray: #F4F4F4;;
    --color-backgr: #FFFFFF;
    --color-shadow: rgba(117, 114, 114, 0.4);

    /* main shadow */
    --main-shadow:4px 4px 10px rgba(22, 22, 22, 0.25);

    // main-transition: 
    --main-transition: all .3s ease-out;
  }