.contacts{
    padding-top: 94px;
    padding-bottom: 50px;

    background-image: url(../img/contacts-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom 0px right 210px;



    &__wrapper{
        display: flex;
        justify-content: space-between;
    }

    &__links{
        font-size: 24px;
    }

    &__h-title{
        font-family: 'Belgrano';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        
        margin-top: 30px;
        margin-bottom: 54px;
    }
    &__phone{
        display: block;
        text-decoration: none;
        color: var(--text-color-standart);
        margin-bottom: 16px;
        
    }
    &__mail{
        display: block;
        text-decoration: none;
        color: var(--text-color-standart);
        margin-bottom: 32px;
        
    }
    &__list{
        display: flex;
        gap: 32px;
        list-style: none;
        margin-bottom: 60px;
    }

    & .list__icon{
        fill:var(--text-color-accent);
    }

    &__button{

    }

    &__photo{

    }
}