.expectations {
    & .search{
        margin-bottom: 36px;

        font-family: 'Belgrano';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
    }

    &__list{
        margin-top:36px;
        list-style: none;

        display: flex;
        justify-content: space-between;
    }

    &__item{
        padding: 28px;
        max-width: 270px;
        width: 100%;

        background: #FFFFFF;
        border: 2px solid #22FFCA;
        border-radius: 8px;

        box-shadow: var(--main-shadow)
    }

    &__item__type{
        margin-bottom: 34px;
        
    }

    &__item__wrapper{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 60px;

        font-weight: 700;
        &.br{
            display: block;
            min-height: 0;
        }
    }

}