.header{
    & .list{
        display: flex;
        gap: 32px;
        justify-content: center;
        position: absolute;
        top: 42px;
        left: 50%;
        transform: translateX(-50%);
    }


    & .list__item{
        
    }

    & .list__link{

    }

    & .list__icon{
        transition: var(--main-transition);
        filter: drop-shadow(3px 5px 2px rgba(117, 114, 114, 0));
        fill:var(--text-color-accent);
        &:hover{
        
            filter: drop-shadow(3px 5px 2px var(--color-shadow));
            
        }
    }
}