
.hero{
    
    background-color: var(--color-backgr-gray);
    background-image: url(../img/hero-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom 10px right 20px;
   
}

.title {
    font-family: 'Belgrano';
    font-size: 40px;
    line-height: 1.3;
    &__hero{
        margin-bottom: 48px;
        font-weight: 400;
    }
}

.subtitle{
    font-weight: 700;
    font-size: 28px;
    color: var(--color-accent);

    margin-bottom: 108px;

    
}

.wrapper{
    display: flex;
    justify-content: center;

    min-height: 720px;
    height: 100%;
    


    &__hero{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;


    }
    & .hero__content{
        margin-left: 30px;
    }

    & .hero__img{
        margin-right: 100px;
        border-radius: 8px;
    }
}

.btn{
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;

    padding: 10px 34px;

    border-radius: 8px;
    border: transparent;
    
    transition: var(--main-transition);

    &--accent{
        background-color:var(--color-accent)
    }
    &__border--accent{
        border: 1px solid var(--color-accent);
    }
    &:active{
        box-shadow: 6px 8px 8px -5px var(--color-accent);
    }
    &:hover{
        
        box-shadow: 10px 11px 15px 0px var(--color-shadow);
    }
}

