.skills{
    // background-color: var(--color-backgr-gray);
    background-image: url(../img/skills_bg.svg);
    background-repeat: no-repeat;
    background-position: bottom 10px left 44px;

    &-wrapper{
        display: flex;
        flex-direction: column;
        gap: 84px;
    }

    &-tech__wrapper{
        position: relative;
        list-style: none;
        min-width: 600px;
    }

    &-tech__list{
        position: absolute;
        top: 70px;
    }

    &-tech__item{
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__title{
        font-family: 'Belgrano';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
    }

    &-soft__wrapper{

    }

    &-soft__list{

    }

    &-soft__item{
        display: flex;
        align-items: center;
        position: relative;
        line-height: 1.6;

        &.point--before::before{
            content:'';
            position: absolute;
            top: 8px;
            left: -40px;
            border: 8px  solid var(--text-color-accent);
            border-radius: 50%;
            box-shadow: var(--main-shadow);
        }

        &.point--after::after{
            content:'';
            position: absolute;
            top: 8px;
            left: 40px;
            border: 8px  solid var(--text-color-accent);
            border-radius: 50%;
            box-shadow: var(--main-shadow);
        }

        &__name{
            display: inline-block;
            min-width: 100px;
        }

        &__level{
            margin-left: 20px;
            display: inline-block;
            width:25px;
            height:25px;
            background-color: #D9D9D9;
            border-radius: 50%;
            box-shadow: var(--main-shadow);
        }
        &__level.fill{
            margin-left: 20px;
            background-color: var(--text-color-accent);
        }
    }
}

.tech__item__icon{
    width: 60px;
    height: 64px
}

.icon__wrapper{
    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    border: 10px solid #D9D9D9;
    border-radius: 50%;

    box-shadow: var(--main-shadow);

}